<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fuck you</title>
</head>
<body onload="refresh">
<img src="main.png" alt="Image">

<form action="" method="post">
    <input type="submit" id="re" name="refresh" value="Refresh" />
</form>

<img src="all.png" alt="Image">

</body>
<style>
    body{
        font-family: "Verdana";
    }
</style>
<script>
function refresh(){
    sleep(1000);
    document.getElementById("re").click();
    refresh();
}
</script>
</html>